tasky/Service References/SprintServiceReference/SprintService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SprintService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50249/SprintService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50249/SprintService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50249/SprintService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISprintService_getAllSprints_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllSprints" />
  </wsdl:message>
  <wsdl:message name="ISprintService_getAllSprints_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllSprintsResponse" />
  </wsdl:message>
  <wsdl:message name="ISprintService_getSprint_InputMessage">
    <wsdl:part name="parameters" element="tns:getSprint" />
  </wsdl:message>
  <wsdl:message name="ISprintService_getSprint_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSprintResponse" />
  </wsdl:message>
  <wsdl:message name="ISprintService_createSprint_InputMessage">
    <wsdl:part name="parameters" element="tns:createSprint" />
  </wsdl:message>
  <wsdl:message name="ISprintService_createSprint_OutputMessage">
    <wsdl:part name="parameters" element="tns:createSprintResponse" />
  </wsdl:message>
  <wsdl:message name="ISprintService_deleteSprint_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteSprint" />
  </wsdl:message>
  <wsdl:message name="ISprintService_deleteSprint_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteSprintResponse" />
  </wsdl:message>
  <wsdl:message name="ISprintService_updateSprint_InputMessage">
    <wsdl:part name="parameters" element="tns:updateSprint" />
  </wsdl:message>
  <wsdl:message name="ISprintService_updateSprint_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateSprintResponse" />
  </wsdl:message>
  <wsdl:portType name="ISprintService">
    <wsdl:operation name="getAllSprints">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/getAllSprints" message="tns:ISprintService_getAllSprints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/getAllSprintsResponse" message="tns:ISprintService_getAllSprints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSprint">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/getSprint" message="tns:ISprintService_getSprint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/getSprintResponse" message="tns:ISprintService_getSprint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createSprint">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/createSprint" message="tns:ISprintService_createSprint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/createSprintResponse" message="tns:ISprintService_createSprint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteSprint">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/deleteSprint" message="tns:ISprintService_deleteSprint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/deleteSprintResponse" message="tns:ISprintService_deleteSprint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateSprint">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/updateSprint" message="tns:ISprintService_updateSprint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/updateSprintResponse" message="tns:ISprintService_updateSprint_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISprintService" type="tns:ISprintService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllSprints">
      <soap:operation soapAction="http://tempuri.org/ISprintService/getAllSprints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSprint">
      <soap:operation soapAction="http://tempuri.org/ISprintService/getSprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createSprint">
      <soap:operation soapAction="http://tempuri.org/ISprintService/createSprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSprint">
      <soap:operation soapAction="http://tempuri.org/ISprintService/deleteSprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSprint">
      <soap:operation soapAction="http://tempuri.org/ISprintService/updateSprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SprintService">
    <wsdl:port name="BasicHttpBinding_ISprintService" binding="tns:BasicHttpBinding_ISprintService">
      <soap:address location="http://localhost:50249/SprintService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>