tasky/Service References/SprintServiceReference/SprintService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50249/SprintService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
  <xs:element name="getAllSprints">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSprintsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="getAllSprintsResult" nillable="true" type="q1:ArrayOfSprint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSprint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSprintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="getSprintResult" nillable="true" type="q2:ArrayOfSprint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createSprint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newStartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="newEndDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createSprintResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSprint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSprintResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSprint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="newTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newStartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="newEndDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSprintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="updateSprintResult" nillable="true" type="q3:ArrayOfSprint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>