tasky/Service References/TeamMemberServiceReference/TeamMemberService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TeamMemberService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50249/TeamMemberService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50249/TeamMemberService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50249/TeamMemberService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITeamMemberService_getTeamMembers_InputMessage">
    <wsdl:part name="parameters" element="tns:getTeamMembers" />
  </wsdl:message>
  <wsdl:message name="ITeamMemberService_getTeamMembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTeamMembersResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamMemberService_getTeamMember_InputMessage">
    <wsdl:part name="parameters" element="tns:getTeamMember" />
  </wsdl:message>
  <wsdl:message name="ITeamMemberService_getTeamMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTeamMemberResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamMemberService_createTeamMember_InputMessage">
    <wsdl:part name="parameters" element="tns:createTeamMember" />
  </wsdl:message>
  <wsdl:message name="ITeamMemberService_createTeamMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:createTeamMemberResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamMemberService_deleteTeamMember_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteTeamMember" />
  </wsdl:message>
  <wsdl:message name="ITeamMemberService_deleteTeamMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteTeamMemberResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamMemberService_updateTeamMember_InputMessage">
    <wsdl:part name="parameters" element="tns:updateTeamMember" />
  </wsdl:message>
  <wsdl:message name="ITeamMemberService_updateTeamMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateTeamMemberResponse" />
  </wsdl:message>
  <wsdl:portType name="ITeamMemberService">
    <wsdl:operation name="getTeamMembers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamMemberService/getTeamMembers" message="tns:ITeamMemberService_getTeamMembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamMemberService/getTeamMembersResponse" message="tns:ITeamMemberService_getTeamMembers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTeamMember">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamMemberService/getTeamMember" message="tns:ITeamMemberService_getTeamMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamMemberService/getTeamMemberResponse" message="tns:ITeamMemberService_getTeamMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createTeamMember">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamMemberService/createTeamMember" message="tns:ITeamMemberService_createTeamMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamMemberService/createTeamMemberResponse" message="tns:ITeamMemberService_createTeamMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteTeamMember">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamMemberService/deleteTeamMember" message="tns:ITeamMemberService_deleteTeamMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamMemberService/deleteTeamMemberResponse" message="tns:ITeamMemberService_deleteTeamMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateTeamMember">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeamMemberService/updateTeamMember" message="tns:ITeamMemberService_updateTeamMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeamMemberService/updateTeamMemberResponse" message="tns:ITeamMemberService_updateTeamMember_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITeamMemberService" type="tns:ITeamMemberService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTeamMembers">
      <soap:operation soapAction="http://tempuri.org/ITeamMemberService/getTeamMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTeamMember">
      <soap:operation soapAction="http://tempuri.org/ITeamMemberService/getTeamMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createTeamMember">
      <soap:operation soapAction="http://tempuri.org/ITeamMemberService/createTeamMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTeamMember">
      <soap:operation soapAction="http://tempuri.org/ITeamMemberService/deleteTeamMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTeamMember">
      <soap:operation soapAction="http://tempuri.org/ITeamMemberService/updateTeamMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TeamMemberService">
    <wsdl:port name="BasicHttpBinding_ITeamMemberService" binding="tns:BasicHttpBinding_ITeamMemberService">
      <soap:address location="http://localhost:50249/TeamMemberService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>