tasky/Service References/StoryServiceReference/StoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50249/StoryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50249/StoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50249/StoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStoryService_getStories_InputMessage">
    <wsdl:part name="parameters" element="tns:getStories" />
  </wsdl:message>
  <wsdl:message name="IStoryService_getStories_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IStoryService_getStory_InputMessage">
    <wsdl:part name="parameters" element="tns:getStory" />
  </wsdl:message>
  <wsdl:message name="IStoryService_getStory_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStoryResponse" />
  </wsdl:message>
  <wsdl:message name="IStoryService_createStory_InputMessage">
    <wsdl:part name="parameters" element="tns:createStory" />
  </wsdl:message>
  <wsdl:message name="IStoryService_createStory_OutputMessage">
    <wsdl:part name="parameters" element="tns:createStoryResponse" />
  </wsdl:message>
  <wsdl:message name="IStoryService_deleteStory_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteStory" />
  </wsdl:message>
  <wsdl:message name="IStoryService_deleteStory_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteStoryResponse" />
  </wsdl:message>
  <wsdl:message name="IStoryService_updateStory_InputMessage">
    <wsdl:part name="parameters" element="tns:updateStory" />
  </wsdl:message>
  <wsdl:message name="IStoryService_updateStory_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateStoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IStoryService">
    <wsdl:operation name="getStories">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoryService/getStories" message="tns:IStoryService_getStories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoryService/getStoriesResponse" message="tns:IStoryService_getStories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStory">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoryService/getStory" message="tns:IStoryService_getStory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoryService/getStoryResponse" message="tns:IStoryService_getStory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createStory">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoryService/createStory" message="tns:IStoryService_createStory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoryService/createStoryResponse" message="tns:IStoryService_createStory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteStory">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoryService/deleteStory" message="tns:IStoryService_deleteStory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoryService/deleteStoryResponse" message="tns:IStoryService_deleteStory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateStory">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoryService/updateStory" message="tns:IStoryService_updateStory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoryService/updateStoryResponse" message="tns:IStoryService_updateStory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStoryService" type="tns:IStoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getStories">
      <soap:operation soapAction="http://tempuri.org/IStoryService/getStories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStory">
      <soap:operation soapAction="http://tempuri.org/IStoryService/getStory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createStory">
      <soap:operation soapAction="http://tempuri.org/IStoryService/createStory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteStory">
      <soap:operation soapAction="http://tempuri.org/IStoryService/deleteStory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStory">
      <soap:operation soapAction="http://tempuri.org/IStoryService/updateStory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StoryService">
    <wsdl:port name="BasicHttpBinding_IStoryService" binding="tns:BasicHttpBinding_IStoryService">
      <soap:address location="http://localhost:50249/StoryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>