tasky/Service References/TaskLogServiceReference/TaskLogService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTaskLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskLog" nillable="true" type="tns:TaskLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskLog" nillable="true" type="tns:ArrayOfTaskLog" />
  <xs:complexType name="TaskLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="logDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="loggedHours" type="xs:int" />
      <xs:element minOccurs="0" name="taskId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskLog" nillable="true" type="tns:TaskLog" />
</xs:schema>